@use "sass:map";
@use "../variables" as *;
@use "../mixins" as *;

.custom-card {
  border: 1px solid var(--bs-border-color);
  background-color: var(--bs-white);
  @include border-radius('base');
  @include shadow('sm');
  @include transition;

  &-hover {
    &:hover {
      @include hover-lift;
    }
  }

  .card-body {
    @include spacing('padding', 'md');

    @include breakpoint-down('md') {
      @include spacing('padding', 'sm');
    }
  }

  .card-title {
    color: var(--bs-heading-color);
    font-weight: 500;
    @include spacing('margin-bottom', 'sm');
  }

  .card-subtitle {
    color: var(--bs-secondary);
    @include font-size('sm');
    margin-top: calc(#{map.get($content-spacing, 'sm')} * -0.5);
    @include spacing('margin-bottom', 'sm');
  }
} 