@use "sass:map";
@use "../variables" as *;
@use "../mixins" as *;

.card {
  background-color: var(--bs-card-bg);
  border: 1px solid var(--bs-card-border-color);
  color: var(--bs-card-color);
  @include transition-multi('background-color, border-color, color', 0.3s);
  @include shadow('sm');

  &:hover {
    @include shadow('lg');
  }

  &-header {
    background-color: var(--bs-card-cap-bg);
    border-bottom: 1px solid var(--bs-card-border-color);
    @include spacing-x('padding', 'sm', 'md');
  }

  &-body {
    @include spacing('padding', 'md');
  }

  &-title {
    color: var(--bs-card-title-color, var(--bs-heading-color));
    @include spacing('margin-bottom', 'sm');
  }

  &-text {
    color: var(--bs-card-color);
  }

  &-footer {
    background-color: var(--bs-card-cap-bg);
    border-top: 1px solid var(--bs-card-border-color);
    @include spacing-x('padding', 'sm', 'md');
  }
} 