@use "sass:map";
@use "../variables" as *;
@use "../mixins" as *;

.container {
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  @include spacing('padding', 'md');

  &-fluid {
    @extend .container;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }

  &.content-section {
    background-color: var(--bs-tertiary-bg);
    border: 1px solid var(--bs-border-color);
    @include border-radius('base');
    @include shadow('base');
    @include spacing('margin-bottom', 'lg');
  }
} 