@use "sass:map";
@use "../variables" as *;
@use "../mixins" as *;

.container {
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  padding: map.get($content-spacing, 'md');

  &-fluid {
    @extend .container;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }

  &.content-section {
    background-color: var(--bs-tertiary-bg);
    border: 1px solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    box-shadow: $container-shadow;
    margin-bottom: map.get($content-spacing, 'lg');
  }
} 