@use "sass:map";
@use "../variables" as *;
@use "../mixins" as *;

.footer {
  border-top: 1px solid var(--bs-border-color-translucent);
  @include transition-multi('background-color, border-color', 0.3s);
  font-size: 0.875rem;
  
  &.theme-dark {
    background-color: var(--bs-dark-bg-subtle) !important;
  }
  
  &.theme-light {
    background-color: var(--bs-light) !important;
  }

  a {
    @include transition-multi('opacity', 0.2s);
    @include spacing-x('padding', 'xs', 'sm');
    border-radius: 0.25rem;
    @include hover-bg(var(--bs-border-color-translucent), 0.8);
  }

  @include breakpoint-down('md') {
    .row {
      text-align: center;
    }

    .d-flex {
      justify-content: center;
    }
  }
} 